body{margin:0}

/*nav bar*/
nav, ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 0;
    
}

.spacer {
    max-width: 190px;
    max-height: 0;
    margin-left: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
}

/*title*/
.title {
    background-color: aqua;
    background-size: cover;
    height: 100px;
    text-align: center;
    
}

.title-text {
    
    line-height: 4em;
}

