body {
    margin:0;
    background-color: #27445D;
    color: #EFE9D5;
}

h2 {
    text-align:center;
}

/*nav bar*/
nav, ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: #EFE9D5;
    padding: 0;
}

.spacer {
    max-width: 190px;
    max-height: 0;
    margin-left: 10px;
    margin-bottom: 30px;

}

.top {
    display: flex;
    justify-content: space-between;
}

/*title*/
.title {
    color: #71BBB2;
    background-size: cover;
    height: 500px;
    text-align: center;
    background-image: url(../Assets/Title.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title-text {
    font-size: 7.5em;
    height: 100%;
    margin: auto;
    line-height: 4em;
    backdrop-filter:blur(10px);
    backdrop-filter: grayscale(50%);
}

/*about*/
.half {
    width: 100%;
    height: 100%;
}

.half p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.about-section {
    display:flex;
    justify-content: space-between;
    background-color:#497D74;
}

.about-section-image {
    background-image: url(../Assets/About.png);
    background-size:cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

/*services*/
.service-grid {
    display: flex;
}

.service-half {
    width: 50%;
    height: 50%;
    text-align: center;
}

/*contact*/
.contact-section-image {
    background-image: url(../Assets/Contact.png);
    background-size:cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-button {
    margin-left: 25%;
    width: 50%;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.center {
    margin: 0;
}

/*bottom*/
.bottom {
    text-align: right;
}

.bottom p{
    margin: 0;
}